<div id="outsideContainer">
    <div id="container">
        <h1>Forgot password</h1>
       		<h4>Back to login page <a href="login">LogIn</a></h4><br>
       		<label>Enter email</label><br>
            <input type="text" id="ForgetPassword-email" name="email"placeholder="secret-code"><br>
            <label>Enter secretCode</label><br>
            <input type="text" id="ForgetPassword-secretCode" name="secret"placeholder="secret-code"><br>
            <input type="button" value="Get Password" onclick="getPassword()">
            <center>{{#if password}}<h3>Password:<strong>{{password}}</strong></h3>{{/if}}</center>
    </div>
</div>