<div id="outsideContainer">
    <div id="container">
        <h1>Sign Up</h1>
       <h4>Already have an account?<a href="login">LogIn</a></h4>
        <br>
            <label>Email</label><br>
            <input type="text" id="SignupEmail" name="email"><br>
            <label>Password</label><br>
            <input type="password" id="SignupPassword" name="password"><br>
            <label>Secret</label><br>
            <input type="password" id="SignupSecretCode" name="secret"><br>
            <input type="button" value="Sign-Up" onclick="register()">
    </div>
</div>