<div id="outsideContainer">
    <div id="container">
        <h1>Login</h1>
       		<h4>Not have an account?<a href="signup">SignUp</a></h4><br>
            <label>Enter Email</label><br>
            <input type="text" id="Login-email" name="email"placeholder="e-mail"><br>
            <label>Enter password</label><br>
            <input type="password" id="Login-password" name="password"placeholder="password"><br>
            <a href="forgotPassword">Forget password</a>
            <br>
            <input type="button" value="Login" onclick="login()">
    </div>
</div>